.side
  .side-header
    .side-header__box
      .side-header__box__user-name
        mika
      .side-header__box__menu
        .side-header__box__menu__new-group
          â—
        .side-header__box__menu__edit-user
          â–²
  .group
        