.side{
  box-sizing: border-box;
  float: left;
  width: 300px;
  color: white;
}
.side-header{
  background-color: #253141;
  height: 100px;
  display: flex;
  padding: 0 20px;

  &__box{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;

    &__user-name{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    &__menu{
      display: flex;
      margin-top: 20px;

      &__new-group{
        margin-left: 0.3rem;
      }

      &__edit-user{
        margin-left: 0.3rem;
      }
    }
  }
}
.group{
  
  height: calc(100vh-100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
}